@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

$font-family: 'Nunito', Arial, sans-serif;
$bg-color: #f4f4f9;
$text-color: #333;
$navbar-bg: #806c61; /* Pastel brown */
$navbar-hover-bg: #f5dfb9; /* Lighter pastel brown */
$navbar-hover-text: #55311c;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$border-radius: 20px;

body {
  font-family: $font-family;
  background-color: $bg-color;
  color: $text-color;
}

.navbar {
  overflow: hidden;
  background-color: $navbar-bg;
  color: white;
  text-align: center;
  box-shadow: $box-shadow;
  margin: 10px;

  a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: $border-radius;

    &:hover {
      background-color: $navbar-hover-bg;
      color: $navbar-hover-text;
    }
  }
}

:host {
  flex: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #4b2e2e;
}
